doctype html
head
    title #{title}
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Font Awesome
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
    // Bootstrap core CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/css/mdb.min.css', rel='stylesheet')
    link(rel='stylesheet', href='css/index.css')
    block head    
body
    header.container-fluid.paddingZero
        nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
            a.navbar-brand(href='#')
                img(src='https://mdbootstrap.com/img/logo/mdb-transparent.png', height='20', alt='Route 66 in navbar')
                
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarExample', aria-controls='navbarExample', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarExample.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.dropdown.active
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Category
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='#') Anniversary
                            a.dropdown-item(href='#') Birthday
                            a.dropdown-item(href='#') Orchid
                            a.dropdown-item(href='#') Rose
                            a.dropdown-item(href='#') Funeral and Sympathy
                            a.dropdown-item(href='#') Lily
                            a.dropdown-item(href='#') Everyday

                            
                    li.nav-item
                        a.nav-link.disabled(href='#') Disabled
                ul.navbar-nav.ml-auto.nav-flex-icons.nonLogin
                    li.nav-item
                        button.btn.btn-outline-success.btnOutLineWhite(type='button') Login
                    li.nav-item
                        button.btn.btn-outline-success.btnOutLineWhite(type='button') Register
                ul.navbar-nav.ml-auto.nav-flex-icons
                    li.nav-item
                        a.nav-link.waves-effect.waves-light
                            i.fab.fa-twitter
                    li.nav-item
                        a.nav-link.waves-effect.waves-light
                            i.fab.fa-google-plus-g
                    li.nav-item
                        a.nav-link.waves-effect.waves-light
                            | 1
                            button.btn.btn-outline-secondary.btnOutLineWhite(type='button')
                            i.fab.fa-facebook-f.pr-1
                            |                                 Facebook
                            span.badge.badge-danger.ml-2 4
                    li.nav-item.dropdown.avatar.alignCenter
                        a#navbarDropdownMenuLink-333.nav-link.dropdown-toggle.p-0(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            img.rounded-circle.z-depth-0(src='https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg', alt='avatar image', height='35')
                        .dropdown-menu.dropdown-menu-right.dropdown-default(aria-labelledby='navbarDropdownMenuLink-333')

                            a.dropdown-item(href='#') Hi 
                                span Phan Huu Hao
                            .dropdown-divider
                            a.dropdown-item(href='/customer/profile') Your profile
                            a.dropdown-item(href='/customer/history') History
                            a.dropdown-item(href='/checkout/cart') Cart
                            a.dropdown-item(href='/customer/notification') Notification
                            .dropdown-divider
                            a.dropdown-item(href='#')
                                button.btn.btn-primary(type='submit') Sign out


        block nav  

    // JQuery
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/js/mdb.min.js')

        block footer