.validate {
    border: 1px solid #e08484;
}

.validate:focus {
    color: #495057;
    background-color: #fff;
    border-color: #e08484;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(230, 116, 116, 0.25)
}

.errorValidate {
    font-size: 0.8rem;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    line-height: 0;
}

.errorActive {
    padding: var(--input-padding-y) var(--input-padding-x);
    visibility: visible;
    opacity: 1;
    color: #e08484;
    line-height: 1rem;
}

.bgBtnMain {
    background-color: #a4c078 !important;
    color: white !important;
}

.bgBtnMain:hover {
    background-color: #90a86a !important;
    color: white;
}

.btnOutlineMain {
    border: 2px solid #a4c078!important;
}

.btnOutlineMain:hover {
    border: 2px solid #90a86a!important;

}

.modalInnerTitle {
    color: #90a86a;
    font-weight: bold;
}

@media (min-width: 1200px) {
    .fixNavMedia {
        padding-left: 0px;
    }
}
@media (max-width: 1199.98px){
    .sidebar-fixed {
        display: block;
    }
}


.itemAcordion {
    color: black;
}

.itemAcordionActive {
    color: red;
}