

.alignItemCenter {
    align-items: center;
}

.userAddress span, .timePost {
    font-size: 12px;
}

.address {
    text-transform: uppercase;
}
.bgBtnMain {
    background-color: #a4c078 !important;
    color: white !important;
}

.bgBtnMain:hover {
    background-color: #90a86a !important;
    color: white;
}

.displayNone {
    display: none !important;
}

.pagination .page-item .page-link.page-item--active {
    background-color: #a4c078;
}

.progress-bar {
    background-color: #a4c078;
}

.widthProgress {
    width: 70%;
}

.page-item--hidden {
    visibility: hidden;
    opacity: 0;
}

.pagination .page-item .page-link.page-item--active {
    background-color: #a4c078;
}

.page-link:focus {
    box-shadow: 0 0 0 0 rgba(0,123,255,.25)
}