.products {
    margin-top: 130px;
}


.page-item--hidden {
    visibility: hidden;
    opacity: 0;
}

.pagination .page-item .page-link.page-item--active {
    background-color: #a4c078;
}

.page-link:focus {
    box-shadow: 0 0 0 0 rgba(0,123,255,.25)
}